@model AutoContact.Models.PurchaseOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Add Items</h1>

<div>
    <h4>Purchase Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PODate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PODate)
        </dd>

        @if (ViewBag.PurchaseOrderLineItems == null)
        {
            <label asp-for="PurchaseOrderLineItems" class="control-label">Items</label>
            @Html.DropDownList("parent", Enumerable.Empty<SelectListItem>(), "-- No Items in Order --")
        }
        else
        {
            <label asp-for="PurchaseOrderLineItems" class="control-label">Items</label>
            @Html.DropDownList("PurchaseOrderLineItemId", (IEnumerable<SelectListItem>)ViewBag.PurchaseOrderLineItems, "", new { @class = "form-control" })
        }
        </br>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CancelledDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CancelledDate)
        </dd>
    </dl>
    <a asp-controller="PurchaseOrderLineItems" asp-action="Create">Add Items To Order</a> |
    <a asp-action="Edit" asp-route-id="@Model.PurchaseOrderId">Edit</a> |
    <a asp-action="Index">View Past Orders</a>
</div>
